{%extends 'k2/pattern.html'%}
{%load static%}
{%block titulek%}hledej kartu{%endblock%}
{%block obsah%}
    <div id='kartaSearch'>
        <form method="post">{%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="" style="background-image: url('{% static "k2/img/confirm.png"%}'" />
        </form>
	</div>
{%endblock%}
