{%extends 'k2/pattern.html'%}
{%load static%}
{%block titulek%}úprava karty{%endblock%}
{%block obsah%}
    <div id='karta_update'>
        {%if karta%}
            <form method="post" id='karta_update_form'>{%csrf_token%}
                <span class="update_form_field">
                <label for="id_cislo_karty">číslo karty</label>
                <input type='text' name='cislo_karty' id='id_cislo_karty' value="{{karta.cislo_str}}" disabled/>
                </span>
                <span class="update_form_field">
                <label for="id_nick">přezdívka</label>
                {%if form.nick.errors%}
                    {{form.nick.errors}}
                {%endif%}
                {{form.nick}}
                </span>

                <div id='do50'>
                    <input type='hidden' name='stav_do_50' id='id_stav_do_50' value="{{karta.stav_do_50}}"/>
                    <div id='puvodni_stav_do_50'>zboží do 50kč <strong>{{karta.stav_do_50}}</strong></div>
                    <div id='novy_stav_do_50'>
                        <button id='minus_do_50' style="background-image: url('{% static "k2/img/minus.png"%}'"></button>
                        <span>{{karta.stav_do_50}}</span>
                        <button id='plus_do_50' style="background-image: url('{% static "k2/img/plus.png"%}'"></button>
                    </div>
                </div>

                <div id='nad50'>
                    <input type='hidden' name='stav' id='id_stav' value="{{karta.stav}}"/>
                    <div id='puvodni_stav'>zboží nad 50kč<strong>{{karta.stav}}</strong></div>
                    <div id='novy_stav'>
                        <button id='minus' style="background-image: url('{% static "k2/img/minus.png"%}'"></button>
                        <span>{{karta.stav}}</span>
                        <button id='plus' style="background-image: url('{% static "k2/img/plus.png"%}'"></button>
                    </div>
                </div>

                <div id='potvrzeni'>
                    <button type="submit" id='storno' formaction='{%url 'karta-search'%}' style="background-image: url('{% static "k2/img/storno.png"%}'"></button>
                    <button type="submit" id='confirm' style="background-image: url('{% static "k2/img/confirm.png"%}'"></button>
                </div>
            </form>
        {%else%}
            <h2>Nebyla vybrána žádná karta</h2>
        {%endif%}
	</div>
{%endblock%}
