<!DOCTYPE html>
{% load static %}

<html lang="cs-cz">
    <head>
        <meta charset="utf-8" />
        <title>{%block title%}Hustá šťáva{%endblock%}</title>
		<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial">-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
        <link rel="stylesheet" type="text/css" href="{% static 'k2/jquery-ui.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'k2/main.css' %}">
        <script src="{%static 'k2/jquery-3.5.1.min.js'%}"></script>
        <script src="{%static 'k2/jquery-ui.min.js'%}"></script>
        <script src="{%static 'k2/main.js'%}"></script>
		{%block head%}
		{%endblock%}
    </head>

    <body>
		{%block obsah%}
      	{%endblock%}
    </body>
</html>
