
body {
	font-family: Ubuntu;
	/* font-size: 1.2em; */
}
ul, ul>li {
	list-style-type: none;
}

.redAlert {
    background-image: linear-gradient(to bottom right, red, coral);
    color: yellow !important;
}

/* karta_search.html */
#kartaSearch, #karta_update, #login {
    margin: 1em auto;
    text-align: center;
}

#kartaSearch label, .update_form_field > * {
    display: block;
    font-size: 2em;
    margin-bottom: 0.2em;
    margin-right: 2em;
}

#kartaSearch p, .update_form_field {
    display: inline-block;
}

#id_search, #karta_update input[type=text] {
    box-shadow: 0 0 2px indigo;
    font-size: 1.5em;
    height: 2em;
    margin-right: 2em;
    padding-left: 0.3em;
    width: 20em;
}

/* karta_update form*/
#karta_update input[type=text] {
    width: 10em;
}

#nad50, #potvrzeni {
    margin-top: 5em;
}

#puvodni_stav, #novy_stav, #puvodni_stav_do_50, #novy_stav_do_50 #storno, #confirm  {
    margin-top: 1em;
}

#puvodni_stav, #puvodni_stav_do_50 {
    color: darkslategray;
    font-size: 1.3em;
    margin-right: 11em;
}

#puvodni_stav > strong, #novy_stav span, #puvodni_stav_do_50 > strong, #novy_stav_do_50 span {
    border: solid silver 1px !important;
    border-radius: 0.2em !important;
    color: gray;
    font-size: 2em;
    margin-left: 1em;
    padding: 0.2em;
}

#novy_stav, #novy_stav_do_50 {
    height: 105px;
    margin: 0.5em 3em 0 0;
}

#novy_stav > button, #novy_stav_do_50 > button {
    background: transparent center center no-repeat;
    background-size: 105px 105px;
    border-width: 0;
    cursor: pointer;
    height: 105px;
    width: 105px;
}

#novy_stav > button:hover, #novy_stav_do_50 > button:hover {
    opacity: 0.5;
}

#novy_stav > span, #novy_stav_do_50 > span {
    color: indigo;
    display: inline-block;
    font-size: 2.45em;
    margin: 0.5em 0.5em 0 0.5em;
    vertical-align: top;
}

#novy_stav span i, #novy_stav_do_50 span i {
}

#storno, #confirm, #kartaSearch input[type=submit] {
    background: transparent center center no-repeat;
    background-size: 105px 101px;
    border-width: 0;
    cursor: pointer;
    height: 105px;
    width: 105px;
}

#storno:hover, #confirm:hover, #kartaSearch input[type=submit]:hover {
    opacity: 0.5;
}

#storno, #confirm {
    display: inline-block;
    position: relative;
}

#storno {
    margin: 3em 2em 0 24em;
}

/* login */
#login {
    background: white top center no-repeat; 
    background-size: 15em 15em;
}

#login > * {
    opacity: 1 !important;
}

#login > ul {
    display: inline-block;
}

#login input[type=text], #login input[type=password] {
    box-shadow: 0 0 2px indigo;
    font-size: 1.5em;
    height: 2em;
    margin: 1em 2em 1em 1em;
    padding-left: 0.3em;
    width: 20em;
}

#login label {
    font-size: 2em;
}

#login button:hover {
    opacity: 0.5;
}

.ui-menu-item-wrapper {
    font-size: 1.5em;
}
