{%extends 'k2/pattern.html'%}
{%load static%}
{%block titulek%}hustá šťáva - správa karet{%endblock%}
{%block obsah%}
    <div id='login'>
            <form method="post" id='login_form'>{%csrf_token%}
                <ul>
                    {{form.as_ul}}
                </ul>
                <button type="submit" id='confirm' style="background-image: url('{% static "k2/img/confirm.png"%}'"/>
            </form>
	</div>
{%endblock%}
